#map {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: ;
    
}

#leftContainer {
    padding-bottom: 12px;
    padding-top: 12px;
    
  
}

.card-title {
    font-family: 'Tsukimi Rounded', sans-serif;
    color: #820c82;
    text-align: center;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
}

.form-select {
    pointer-events: auto;
   
}

/***************** HELP MODAL STYLING *****************/

/* HEADING */
#helpInfo {
    font-family: 'Roboto', sans-serif;
}
/* BODY */
#helpInfoBody {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/***************** ALERT MODAL STYLING *****************/

/* HEADING */
#alert {
    font-family: 'Roboto', sans-serif;
}

/***************** INFO MODAL STYLING ***************/

/* HEADING */
#countryInfo {
    font-family: 'Roboto', sans-serif;
}

/****************** ALL MODALS HEADER AND FOOTER TO PURPLE *****************/

.modalPurple {
    background-color: #820c82;
}

/****************** PRELOADER STYLES ****************/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #820c82 ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}
    
@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
    
@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}







